
    .botão_entradão{
        display:flex;
        justify-content: space-between;
        margin-left: 700px ;
        font-family:Arial, Helvetica, sans-serif;
    }
    .arte_banner{
        border-radius: 2%;
        display: flex;
        margin-top: 20px;
        width: 100%
    }
    .h1_home{
        text-align: center;
        background-color: rgb(0, 0, 0);
        color: #8b4f16
    }
    .imagem_de_fundo{
        background-color: #8b4f16;
    }
    .cards{
       padding: 30px;
       align-items: center;
       display: flex;
       justify-content: space-around
    }
    .timg{
        width:100%;
        height: 200px;
    }
    .maker{
       background-color: rgb(195, 188, 179);
        width: 100%;
        height: 800px;
    }
    
    .cilios{
        background-color: rgb(247, 154, 211);
        width: 100%;
        height: 800px;
    }
    .alongamento{
        background-color: rgb(248, 188, 248);
        width: 100%;
        height: 800px;
    }
    .bmaker{
        width: 100%;
        height: 80px;
        font-size: 50px;
        text-align: center;
        text-shadow: 2px 2 px 3 px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    
    .divteste{
        display: flex;
        justify-content: space-around;
    }
    
    .tmaker{
        height: 250px;
    }

    section {
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: large;
        justify-content: center;
        align-items: center;
        width: 40%;
        margin: 50px;
        margin-top: 55px;
        margin-left: 400px;
    }

.whatsapp{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    margin-bottom: 15px;
}
    
